
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/trabajo con archivos-checkpoint.ipynb
.ipynb_checkpoints/File Creation-checkpoint.ipynb
asdf.txt
